<div class="property">
  <p>
    <strong>住所</strong>
    <%= @property.prefecture %>
    <%= @property.city%>
    <%= @property.address_number %>
    <%= @property.building %>
    <%= @property.status_i18n %>
  </p><br>
    <%= image_tag @property.image_id.url %>
    <%= image_tag @property.dirt_image_id.url %>
    <p>汚れの状態：○○，××</p>
</div>

<%= link_to '編集する', edit_property_path(@property.id) %>
<%= link_to '一覧に戻る', caretakers_properties_path %>