<div class="container">
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 15px;">
            <h3>
                承認待ち
            </h3>
        </div>
        <% @yet_orders.each do |yet_order| %>
            <div class="col-lg-4" style="margin-bottom: 50px;">
              <%= link_to caretakers_chat_path, style:"color: black;" do%>
                <div class="row">
                  <div class="col-lg-6">
                    <%= image_tag "woman3.png", style: "height:120px;"%>
                  </div>
                  <div class="col-6">
                    <div><%= yet_order.cleaner.name %></div>
                    <div>⭐️⭐️⭐️⭐⭐</div>
                    <div><%= yet_order.cleaner.age %>歳<%= yet_order.cleaner.gender %></div>
                    <div><%= yet_order.cleaner.city %>在住</div>
                    <div><%= yet_order.cleaner.pr %></div>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
    </div>
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 15px;">
            <h3>
                承認済み
            </h3>
        </div>
        <!--<div class="col-lg-12">-->
        <% @ok_orders.each do |ok_order| %>
            <div class="col-lg-4" style="margin-bottom: 50px;">
              <%= link_to caretakers_chat_path, style:"color: black;" do%>
                <div class="row">
                  <div class="col-lg-6">
                    <%= image_tag "woman3.png", style: "height:120px;"%>
                  </div>
                  <div class="col-6">
                    <div><%= ok_order.cleaner.name %></div>
                    <div>⭐️⭐️⭐️⭐⭐</div>
                    <div><%= ok_order.cleaner.age %>歳<%= ok_order.cleaner.gender %></div>
                    <div><%= ok_order.cleaner.city %>在住</div>
                    <div><%= ok_order.cleaner.pr %></div>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
        <!--</div>-->
    </div>
</div>




