
<div class="container">
      

      <%= form_with url: caretakers_search_path, method: :get, class:"form_row", local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword, class: "col-lg-10 form" %>
        <%= f.submit "検索", class: " col-lg-1", style: "background-color:#0092ff; opacity:0.7;" %>
      <% end %>

    
    <div class="row" style="margin-top: 50px;">
        <% if not @url.include?("search")%>
          <% @cleaners.each do |cleaner| %>
            <div class="col-lg-4" style="margin-bottom: 50px;">
              <%= link_to caretakers_cleaner_path(cleaner), style:"color: black;" do%>
                <div class="row">
                  <div class="col-lg-6">
                    <%= image_tag "woman#{cleaner.id}.png", style: "height:120px; width:180px;"%>
                  </div>
                  <div class="col-6">
                    <div><%= cleaner.name %></div>
                    <div>⭐⭐️⭐️⭐️⭐️️</div>
                    <div><%= cleaner.age %>歳<%= cleaner.gender %></div>
                    <div><%= cleaner.city %>在住</div>
                    <div><%= cleaner.pr %></div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      
        <% if @posts %>
          <% @posts.each do |post| %>
              <div class="col-lg-4" style="margin-bottom: 50px;">
                <%= link_to caretakers_cleaner_path(post), style:"color: black;" do%>
                  <div class="row">
                    <div class="col-lg-6">
                      <%= image_tag "woman3.png", style: "height:120px;"%>
                    </div>
                    <div class="col-6">
                      <div><%= post.name %></div>
                      <div>⭐️⭐️⭐️⭐⭐</div>
                      <div><%= post.age %>歳<%= post.gender %></div>
                      <div><%= post.city %>在住</div>
                      <div><%= post.pr %></div>
                    </div>
                  </div>
                <% end %>
              </div>
          <% end %>
        <% end %>
    </div>

</div>

