<div class="container" style="padding-bottom: 50px;">
    <div class="row">
        <div class="col-lg-12" style="text-align : center">
            <%= image_tag "woman#{@cleaner.id}.png",style:"height:576px; text-align: right;"%>
        </div>
        
        <div style="width:864px; margin: 0 auto;">
            <div class="row">
                <div class="col-lg-9">
                    <div style="font-size: 34px;"><%= @cleaner.name %></div>
                    <div><%= @cleaner.age %>歳<%= @cleaner.gender %></div>
                    <div><%= @cleaner.prefecture %><%= @cleaner.city %><%= @cleaner.address_number %><%= @cleaner.building %></div>
                    <div><%= @cleaner.license %></div>
                    <div><%= @cleaner.pr %></div>
                </div>
                <div class="col-lg-3">
                   <%= link_to "この人に依頼する", new_caretakers_cleaner_order_path(@cleaner), class: "btn btn-default", style: "right: 0; margin-top: 15px; background-color:#0092ff; opacity:0.7;" %>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12" style="text-align : center">
            <div>
                
                 <% if @cleaner.reviews.count != 0 %>
                        <% @cleaner.reviews.each do |review| %>
                            <div style="width: 864px; margin: 0 auto; text_align: left;">
                                <p style="text-align: left;">
                                    <%= review.caretaker.name %>
                                    <%= review.created_at.strftime("%Y/%m/%d")%>
                                    <%= review.comment %>
                                </p>
                            </div>
                        <% end %>
                <% end %>
                </div>
            <div>
        </div>
    </div>
</div>
