<!DOCTYPE html>
<html>
  <head>
    <title>PfApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="display:flex; margin-bottom: 50px;">
      <%= link_to caretakers_cleaners_path do %>
        <%= image_tag "soma.png", style: "height:50px; margin-left: 25px;"%>
      <% end %>
      <ul style="margin-left: auto; display:flex; margin-right: 25px;">
        <li style="list-style:none;"><%= link_to "承認リスト", caretakers_cleaners_orders_path, style: "line-height: 50px;" %></li>
        <li style="list-style:none; margin-left: 15px;"><%= link_to "投稿", caretakers_properties_new_path, style: "line-height: 50px;"%></li>
        <li style="list-style:none; margin-left: 15px;"><%= link_to "ログアウト", caretakers_cleaners_path, style: "line-height: 50px;"%></li>
     </ul>
    </div>

    <%= yield %>
  </body>
</html>
